@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #FFF500;
}

.app-label-container {
	display: inline-block;
	background-color: white;
	border: 1px solid black;
	margin: 10px;
	width: auto;
}

.app-label {
	margin: 5px;
	font-size: 40px;
}

.activity-list-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 0;
}

.activity-card {
	position: relative;
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	min-width: 230px;
	height: 540px;
	border: 1px solid black;
	background-color: white;
	margin: 10px;
}

.activity-detail-container {
	position: absolute;
	top: 0;
}

.activity-detail {
	margin: 10px;
	font-size: 20px;
}

.activity-detail-name {
	font-size: 30px;
}

.add-person-container {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.add-person-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
}

.add-person-form > div {
	display: flex;
	justify-content: center;
}

.add-person-button {
	all: unset;
	font-size: 20px;
	margin: 10px;
	background-color: #C4C4C4;
	padding: 5px;
	text-align: center;
}

.person-container {
	display: flex;
	align-items: center;
}

.diamond-container {
	padding-right: 10px;
}

.add-activity-card {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F4F4F4;
}

.add-activity-card-form {
	justify-content: flex-start;
	align-items: flex-start;
}

.add-activity {
	display: block;
	font-weight: 500;
	font-size: 25px;
}

.add-activity > div {
	margin: 10px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.add-activity-form {
	margin: 10px;
}

.form-field {
	display: block;
}

.form-field > div {
	margin-bottom: 10px;
}
