{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'img/app_icon.jpg' %}">
	<!--<a href='https://www.freepik.com/vectors/business'>Business vector created by rawpixel.com - www.freepik.com</a>-->
	{% block meta %}
	{% endblock meta %}
</head>

<body>
	{% block content %}
	{% endblock content %}
</body>

</html>
