{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Kegiatan</title>
{% endblock meta %}

{% block content %}
<div>
	<div class="app-label-container">
		<div class="app-label">Daftar Kegiatan</div>
	</div>
	<div class="activity-list-container">
		{% for activity, persons in activity_dict.items %}
		<div class="activity-card">
			<div class="activity-detail-container">
				<div class="activity-detail">
					<div class="activity-detail-name">Nama</div>
					<div>{{ activity.activity_name }}</div>
				</div>
				<div class="activity-detail">
					<div class="activity-detail-name">Waktu</div>
					<div>{{ activity.date }}</div>
					<div>{{ activity.time_start }} - {{ activity.time_end }}</div>
				</div>
				<div class="activity-detail">
					<div class="activity-detail-name">Tempat</div>
					<div>{{ activity.place }}</div>
				</div>
				<div class="activity-detail">
					<div class="activity-detail-name">Daftar Peserta</div>
					{% for person in persons %}
					<div class="person-container">
						<div class="diamond-container"><img src="{% static 'img/diamond.svg' %}"></div>
						<div>{{ person.name }}</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="add-person-container">
				{% if add_person_form_is_set %}
					{% if add_person_form_activity_id == activity.id %}
					<form action="{% url 'main:add-person' activity.id %}" method="GET">
						<div class="add-person-form">
							<div>{{ add_person_form.name.label_tag }}</div>
							<div>{{ add_person_form.name }}</div>
							<div><input class="add-person-button" type="submit" value="Tambah"></input></div>
						</div>
					</form>
					{% endif %}
				{% else %}
				<form action="{% url 'main:add-person-request' activity.id %}" method="GET">
					<input class="add-person-button" type="submit" value="Gabung"></input>
				</form>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<div class="activity-card add-activity-card {% if add_activity_form_is_set %} add-activity-card-form {% endif %}">
			{% if add_activity_form_is_set %}
			<form action="/add-activity" method="GET">
				<div class="add-activity-form">
					{% for field in add_activity_form %}
					<div class="form-field">
						<div>{{ field.label_tag }}</div>
						<div>{{ field }}</div>
					</div>
					{% endfor %}
					<div class="form-field">
						<div>{{ owner_form.name.label_tag }}</div>
						<div>{{ owner_form.name }}</div>
					</div>
					<input type="submit" value="Buat kegiatan">
				</div>
			</form>
			{% else %}
			<form action="/add-activity-request">
				<div class="add-activity">
					<div><input type="image" src="{% static 'img/add_activity_icon.png' %}"></div>
					<div>Buat kegiatan baru</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
